.text
{
	position: absolute;
	top: 150px;
	left: 900px;
}
.P1
{
	border: 2px solid;
	float: left;
	border-color: orange;
	height: 15vh;
	width: 20%;
	margin: 15px;
}
.P2
{
	border: 2px solid;
	float: left;
	border-color: orange;
	height: 15vh;
	width: 20%;
	margin: 15px;
}
.P3
{
	border: 2px solid;
	float: left;
	border-color: orange;
	height: 15vh;
	width: 20%;
	margin: 15px;
}
.P4
{
	border: 2px solid;
	float: left;
	border-color: orange;
	height: 15vh;
	width: 20%;
	margin: 15px;
}